<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light header">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Sabziwala</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 justify-content-end">
        <ng-template #yetToLogin>
          <li class="btn btn-outline-primary me-2" (click)="goToLogin(true)">
            Login
          </li>
          <li class="btn btn-primary" (click)="goToLogin(false)">
            Signup
          </li>
        </ng-template>
        <li *ngIf="isLogin else yetToLogin" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            {{userName}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Logout</a></li>
          </ul>
        </li>
        <li *ngIf="isLogin" class="nav-item pointer">
          <a class="nav-link" (click)="openShoppingDetailsModal()">🛍️<sup *ngIf="count>0">{{count}}</sup></a>
        </li>
      </ul>
    </div>
  </div>
</nav>